*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
}
.menu-image {
   width: 100%;
   height: 400px;
   object-fit: cover;
}
.menu-container {
    background-image: url('menu.jpg');
    min-height: 500px; 
    width: 100%;
    background-size: cover; 
  
}
.menu-container h1 {
   color:rgb(72, 249, 8);
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    font-weight: 900;
}
.menu-container p {
    color:rgb(72, 249, 8);
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 900;
}