*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
     background-color: rgb(235, 233, 233);
}
.container{
    width: 100%;
    display:  flex;
    justify-content: space-between;
    margin-top: 10px;
    ul{
        display: flex;
        margin-right: 20px;
        li{
            margin: 0 30px;
           list-style: none;
           color: white;
           background-color: rgb(238, 74, 74);
           padding: 5px 10px;
           border-radius: 5px;

        }
        li:hover{
            transform: scale(0.5rem);
            background-color: rgb(239, 34, 34);
            cursor: pointer;
        }
    }
    a{
        position: relative;
        left: 80px;
        color: rgb(238, 74, 74);
        font-weight: 600;
        font-size: 30px;
    }
}
.content{
    width: 500;
    height: 200px;
    margin-top: 20px;
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        z-index: -1;
    }
    .slogan{
        position: absolute;
        font-size: 50px;
        color: rgb(236, 16, 16);
        font-weight: 600;
        align-self: center;
        
        left: 50%;
    }
}