*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {

    font-family: 'Arial', sans-serif;
    background-color: rgb(235, 233, 233);

}
.head{
 display: flex;
 justify-content: space-around;
 margin-top: 10px;

 padding: 20px 0;
}
.head a{
  color: rgb(232, 225, 225);
        font-weight: 600;
        font-size: 30px;
        position: absolute;
        left: 190px;
}
.form{
    z-index: -1;
    width: 400px;
    height: 400px;
    background-color: rgb(238, 74, 74);
    position: absolute;
    top: 0;
    left: 80px;
    border-radius: 0 0 50px 60px;
}
.head p{
    color: rgb(239, 11, 11);
    letter-spacing: 3px;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    right: 200px;
}
.head button{
    padding: 5px;
    margin-bottom: 15px;

}
.bergur{
    width: 400px;
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: -1;
}
.divs{
    display: flex;
    /*justify-content: space-around;*/
   margin-left: 100px;
   position: absolute;
   bottom: 60px;

}
.main{
    width: 100px;
    height: 100px;
     background-color: rgb(238, 74, 74);
   /* position: absolute;*/
    bottom: 10px;
    margin: 0 60px;
   z-index: -1;
   border-radius: 10px;
}
.food{
    width: 100px;
    height: 100px;
    object-fit: cover;
   

}
.Food{
 position: absolute;
    bottom: 60px;
}
.p1{
    margin: 50px 85px ;
}
.p2{
   margin: 50px 33px ; 
}
.p3{
    margin: 50px 85px ; 
}
.p4{
    margin: 50px 33px ;  
}

.header{
    width: 600px;
    justify-self: center;
    display: flex;
   
    position: relative;
    top: 100px;
    right: -400px;
    
    
.cn{
    width: 90%;
    
   }
button{
    width: 30%;
    height: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
     background-color: rgb(238, 74, 74);
     border-radius: 5px;
     
     a{
        color: rgb(216, 209, 209);
        font-size: 16px;
     }
}
   
    h1{
       color: rgb(238, 74, 74);

    }
    p{
        color: rgb(148, 137, 137);
    letter-spacing: 1px;
   
    font-weight: 600;
        line-height: 30px;
    }
   
}
.Alll{
    width: 80%;
    
    justify-self: center;
}
html {
    scroll-behavior: smooth;
}