*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
     background-color: rgb(235, 233, 233);
}
.container{
    width: 100%;
    display:  flex;
    justify-content: space-around;
    margin-top: 10px;
    ul{
        display: flex;
        li{
            margin: 0 40px;
           list-style: none;
           color: white;
           background-color: rgb(5, 209, 5);
           padding: 5px 10px;
           border-radius: 5px;

        }
        li:hover{
            transform: scale(0.5rem);
            background-color: rgb(5, 137, 5);
            cursor: pointer;
        }
    }
    a{
        color: rgb(5, 209, 5);
        font-weight: 600;
        font-size: 30px;
    }
}
.content{
    width: 500;
    height: 200px;
    margin-top: 20px;
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        z-index: -1;
    }
}