*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
     background-color: rgb(235, 233, 233);
}
.container{
    width: 100%;
    display:  flex;
    justify-content: space-between;
    margin-top: 10px;
    ul{
        display: flex;
        margin-right: 20px;
        li{
            margin: 0 30px;
           list-style: none;
           color: white;
           background-color: rgb(238, 74, 74);
           padding: 5px 10px;
           border-radius: 5px;
           a{
             margin: 0 30px;
           list-style: none;
           color: white;
           background-color: rgb(238, 74, 74);
          /* padding: 5px 10px;*/
           border-radius: 5px;
           }

        }
        li:hover{
            transform: scale(0.5rem);
            background-color: rgb(239, 34, 34);
            cursor: pointer;
        }
    }
    .a{
        position: relative;
        left: 80px;
        color: rgb(238, 74, 74);
        font-weight: 600;
        font-size: 30px;
    }
}
.content{
    position: relative;
    width: 500;
    height: 200px;
    margin-top: 20px;
    img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        z-index: -1;
    }
    .slogan{
        position: absolute;
        font-size: 50px;
        color: rgb(236, 16, 16);
        font-weight: 600;
        align-self: center;
        
        left: 50%;
    }
    .btn{
       position: absolute; 
       font-size: 27px;
       bottom: -10rem;
       background-color:  rgb(236, 51, 51); ;
        right: 25%;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
    }
}
.ourServise{
    height: 700px;
    width: 70%;
    margin: 0 auto;
  /*  background-color: aqua;*/
    margin-top: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    
}
.ourServise > *{
  margin: 5px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;

}
.item h1 {
     justify-self: center;
     text-align: center;
      color: rgb(238, 74, 74);
    /*
    margin-top: 10px;*/
}
.item:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.item p {
     font-size: 18px;
     margin-top: 5px;
     color: rgb(36, 36, 60);
    
}
.fa-solid{
    margin: 20px 35%;
    font-size: 50px;
  

}
